html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.customButton1 {
  width:200px;
  height:50px;
  background-color: #fe3434;
  border: none;
  color: rgb(255, 255, 255);
  font-weight:bold;
  padding: 15px 32px;
  border-radius: 15px;
  margin-bottom:100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.customButton2 {
  width:160px;
  height:50px;
  background-color: #00226d;
  border: none;
  color: rgb(255, 255, 255);
  font-weight:bold;
  padding: 13px 25px;
  border-radius: 15px;
  margin-bottom:100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.customInput {
  width:200px;
  height:30px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  outline:none;

}

.customInputCode {
  width:140px;
  height:30px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  outline:none;

}